function Barrel.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 1
pop this 1
push pointer 0
push argument 0
call Barrel.draw 2
pop temp 0
push pointer 0
return
function Barrel.setLocation 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Barrel.getLocation 0
push argument 0
pop pointer 0
push this 0
return
function Barrel.draw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16352
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Barrel.remove 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Barrel.gravity 0
push argument 0
pop pointer 0
push constant 0
push argument 2
add
push argument 1
push constant 641
add
push constant 16384
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push argument 2
add
push argument 1
push constant 673
add
push constant 16384
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push argument 2
add
push argument 1
push constant 705
add
push constant 16384
add
call Memory.peek 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push argument 2
add
pop pointer 1
push that 0
push constant 1
push argument 2
add
pop pointer 1
push that 0
add
push constant 2
push argument 2
add
pop pointer 1
push that 0
add
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
call Barrel.remove 2
pop temp 0
push pointer 0
push argument 1
push constant 64
add
call Barrel.draw 2
pop temp 0
push argument 1
push constant 64
add
pop argument 1
label IF_FALSE0
push argument 1
return
function Barrel.move 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 0
push constant 32
call Math.divide 2
push constant 32
call Math.multiply 2
sub
push constant 28
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 0
call Barrel.remove 2
pop temp 0
push pointer 0
push this 0
push constant 1
add
call Barrel.draw 2
pop temp 0
push this 0
push constant 1
add
pop this 0
goto IF_END1
label IF_FALSE1
push constant 0
pop this 1
label IF_END1
goto IF_END0
label IF_FALSE0
push this 0
push this 0
push constant 32
call Math.divide 2
push constant 32
call Math.multiply 2
sub
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 0
call Barrel.remove 2
pop temp 0
push pointer 0
push this 0
push constant 1
sub
call Barrel.draw 2
pop temp 0
push this 0
push constant 1
sub
pop this 0
goto IF_END2
label IF_FALSE2
push constant 1
pop this 1
label IF_END2
label IF_END0
push constant 0
return
function Barrel.isIDie 0
push argument 0
pop pointer 0
push this 0
push constant 32
sub
push constant 16384
add
call Memory.peek 1
push constant 0
eq
not
push this 0
push constant 64
sub
push constant 16384
add
call Memory.peek 1
push constant 0
eq
not
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
