function Cherry.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 170
pop this 0
push constant 23
pop this 1
push constant 7
pop this 4
push constant 182
pop this 2
push constant 23
pop this 3
push pointer 0
return
function Cherry.drawCherry 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 4
call Screen.drawCircle 3
pop temp 0
push this 2
push this 3
push this 4
call Screen.drawCircle 3
pop temp 0
push constant 172
push constant 16
push constant 175
push constant 10
call Screen.drawLine 4
pop temp 0
push constant 175
push constant 10
push constant 183
push constant 16
call Screen.drawLine 4
pop temp 0
push constant 0
return
